<!doctype html>
<html>
<head>
  <meta charSet="utf-8"/>
  <title>MyHomePark</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
  <script src="static/disappear.js"></script>
  <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
   <table>
      <tr>
         <td>
            <div>
               <canvas id="canvas" width=500 height=500></canvas>
            </div>
         </td>
         <td>
            <div>
               <input type="radio" onclick="plot()" id="plotButton" name="selection" value="plotButton" checked>
               <label for="plotButton">Plot</label><br>
               <input type="radio" onclick="ground()" id="groundButton" name="selection" value="groundButton">
               <label for="groundButton">Ground Cover</label><br>
               <input type="radio" onclick="plant()" id="plantButton" name="selection" value="plantButton">
               <label for="plantButton">Plant Drifts</label><br> 
            </div>
            <div>
               <div id="resetbutton">
                  <center>
                     <button class="button-rounded" onclick="reset()">Reset Grid</button>
                  </center>
               </div>
<!--
               <div id="lockbutton">
                  <center>
                     <button onclick="lock()">Lock Grid</button>
                  </center>
               </div>
-->
               </div>
               <div id="driftbutton">
                  <center>
                     <button class="button-rounded" onclick="newDrift()">Next Drift</button>
                  </center>
               </div>
               <div id="streetButton">
                  <center>
                     <button class="button-rounded" onclick="createStreetView()">Finish Plot</button>
                  </center>
               </div>
            </div>
         </td>
      </tr>
   </table>
   <!-- This is What I added -->
   <div id="plantIdPopup" style="display: none;">
    <div>
      <button id="closePopupButton">X</button>
      <input type="text" id="plantSearch" placeholder="Search plant by name">
      <button id="searchButton">Search</button>
      <span id="searchError" style="color: red;"></span>
    </div>
    <div id="plantOptions">
      <!-- Empty div for dynamically generated plant options -->
    </div>
  </div>
  <div id="legend" class="legend-container">
    <!-- Your legend content will be added here dynamically -->
  </div>
  <!-- <script src="https://apis.google.com/js/api.js"></script> -->
  <script src="https://accounts.google.com/gsi/client"></script>

<!--
   <img src="https://storage.googleapis.com/myhomepark-images/Black-Eyed%20Susan.png" alt="black-eyed susan" width="75" height="75">
-->
<!--
      <h1>Plants:</h1>
      <ul>
         {% for item in plants %}
            <li>{{ item }}</li>
         {% endfor %}
      </ul>
-->
      <script>
         var width = {{ width }};
         var length = {{ length }};
         var maxHeight = {{ maxHeight }};
         var sunlevel = "{{ sunlevel }}";
         var input_colors = {{ input_colors }};
         var soilTypes = {{ soilTypes }};
         var zipCode = "{{ zipCode }}";
         console.log("Sunlevel = ", sunlevel);
         console.log("Height = ", maxHeight);
         console.log("WIDTH = ", width);
         console.log("LENGHT = ", length);
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="static/index.js"></script>
  </body>
</html>
